
<div class='content'>

  <h5 class='float-left margin-top'>Order count</h5>
  <p class='subtitles margin-top'>
    <%= @clean_orders.count %>
  </p>
  <div class='charts'>
    <%= line_chart(@agr_period_count_hash, height: "150px") %>
  </div>

  <h5 class='float-left margin-top'>Sales</h5>
  <p class='subtitles margin-top'>
    <%= @total %>
  </p>
  <div class='charts'>
    <%= column_chart(@agr_period_sum_hash, height: "150px") %>
  </div>
</div>
<div class='search-background'>
  <div class='search-bar'>
    <h5>Displaying orders between
      <%= @created_after_date %>
      and
      <%= @created_before_date %>
      by
      <%= @group_by_period %>
    </h5>
  </div>
  <div class='search-bar roboto'>
    <%= form_tag("/welcome", method: "get") do %>
      <%= label_tag(:q, "Refresh with orders after") %>
      <%= date_field_tag(:q) %>
      <%= label_tag(:qq, "and before") %>
      <%= date_field_tag(:qq) %>
      <%= label_tag(:qq, "by") %>
      <%= select(:qqq, "group_by_period", {
        :day => 'day',
        :week => 'week',
        :month => 'month',
        :quarter => 'quarter',
        :year => 'year'}) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
