
<div class='content'>

  <h5 class='float-left'>Order count</h5>
  <p class='subtitles'>
    <%= @clean_orders.count %>
  </p>
  <div class='charts'>
    <%= line_chart(@agr_date_count_hash, height: "150px") %>
  </div>

  <h5 class='float-left'>Sales</h5>
  <p class='subtitles'>
    <%= @total %>
  </p>
  <div class='charts'>
    <%= column_chart(@agr_date_sum_hash, height: "150px") %>
  </div>
</div>

<p class='search-bar'>
  <%= form_tag("/welcome", method: "get") do %>
    <%= label_tag(:q, "Refresh with orders on and after  ") %>
    <%= date_field_tag(:q) %>
    <%= label_tag(:qq, "Refresh with orders before  ") %>
    <%= date_field_tag(:qq) %>
    <%= submit_tag("Search") %>
  <% end %>
</p>

<%= @created_after_date || 'missing date' %>
<%= @day_one_current_month %>
