
<div class='content'>

  <h5 class='float-left'>Order count</h5>
  <p class='subtitles'>
    <%= @clean_orders.count %>
  </p>
  <div class='charts'>
    <%= line_chart(@agr_period_count_hash, height: "150px") %>
  </div>

  <h5 class='float-left'>Sales</h5>
  <p class='subtitles'>
    <%= @total %>
  </p>
  <div class='charts'>
    <%= column_chart(@agr_period_sum_hash, height: "150px") %>
  </div>

  <p class='search-bar'>
    <%= form_tag("/welcome", method: "get") do %>
      <%= label_tag(:q, "Refresh with orders on and after") %>
      <%= date_field_tag(:q) %>
      <%= label_tag(:qq, "Refresh with orders before") %>
      <%= date_field_tag(:qq) %>
      <%= label_tag(:qq, "Group orders by") %>
      <%= select(:qqq, "group_by_period", {
        :day => 'day',
        :week => 'week',
        :month => 'month',
        :quarter => 'quarter',
        :year => 'year'}) %>
      <%= submit_tag("Search") %>
    <% end %>
  </p>

  <h5 class='float-left'>Displaying orders between</h5>
  <p class='subtitles, float-left'>
    <%= @created_after_date %>
  </p>
  <h5 class='float-left'>and</h5>
  <p class='subtitles, float-left'>
    <%= @created_before_date %>
  </p>
  <h5 class='float-left'>grouped by</h5>
  <p class='subtitles, float-left'>
    <%= @group_by_period %>
  </p>
</div>
