<!DOCTYPE html>
<html>
  <head>
    <title>AmzPro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>

  <body>
    <nav>
      <h1><strong>AMZ</strong> Pro</h1>
    </nav>

    <%= yield %>

    <footer>
      <p>AMZ Pro <span class="word-space">|</span> <%= link_to 'About', root_path %></p>
    </footer>
  </body>
</html>
