<!DOCTYPE html>
<html>
  <head>
    <title>AmzPro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>

  <body>
    <div class='full-nav'></div>
    <nav>
      <h1>
        <%= link_to(root_path) do %>
          <strong>AMZ</strong>  <span>Pro</span>
        <% end %>
      </h1>

      <div class="right-nav">
        <h5>
          <%= link_to 'About', about_path %>
        </h5>
        <% if current_merchant_id != nil %>
          <h5><%= link_to session[:auth_hash]["info"]["email"], welcome_index_path %></h5>
          <h5><%= link_to "Log Out", logout_path %></h5>
        <% else %>
          <h5><%= link_to "Create Account", new_user_path %></h5>
          <h5><%= link_to "Log In", login_path %></h5>
        <% end %>
      </div>
    </nav>
    <div class='line'></div>

    <div class="wrap">
      <% if flash[:error] %>
        <br><br><br>
        <div class="container small-container">
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
        </div>
      <% end %>

      <% if flash[:success] %>
        <br><br><br>
        <div class="container small-container">
          <div class="alert alert-success">
            <%= flash[:success] %>
          </div>
        </div>
      <% end %>
    </div>
    <br><br><br>

    <%= yield %>
  </body>
</html>
